.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 15vh;
}

.itemcontainer {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    overflow: hidden;
    row-gap: 8vh;
    width: 100%;
}