.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 15vh;
    flex-direction: column;
}

.commentscontainer {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    overflow: hidden;
    row-gap: 8vh;
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}



.comment {
    text-align: justify;
    word-break: break-all;
    color: #000000;
    margin: 0;
}

.signature {
    color: #6d6d6d;
}

